.grid {
    width: 200px;
    height: 400px;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
}
.grid div {
    height: 20px;
    width: 20px;
}
.tetromino {
    background: #3D94F6;
    background-image: linear-gradient(top, #3D94F6, #1E62D0);
    border-radius: 5px;
    color: #FFFFFF;
}